@model List<Product>
@{
}

<h2 class="text-center mb col-sm">List of Products</h2>
<div class="row mb-4">
    <div class="col-sm-4"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-2">
        <a class="btn btn-success " asp-controller="Products" asp-action="Create">New Product</a>
    </div>
</div> 

<table class="table">
    <thead>
        <tr>
            @* <th>ID</th> *@
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Image</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var product in Model)
        {
            <tr>
                @* <td>@product.Id</td> *@
                <td>@product.Name</td>
                <td>@product.Brand</td>
                <td>@product.Category</td>
                <td>@(product.Price)$</td>
                <td><img src="/products/@product.ImageFileName" width="100"/></td>
                <td>@product.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td style="white-space:nowrap">
                    <a class="btn-sm" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">
                        <img src="~/products/Edit.png"></a>

                    <a class="btn-sm" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" Onclick="return confirm('Are you sure ?')">
                        <img src="~/products/Delete.png"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
